@using Ictshop.Models;
@model List<GioHang>

@{ ViewBag.Title = "GioHang";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="cart">
    <div style="display: flex; font-size: 1.6rem; padding-top: 2rem">
        Sửa Giỏ Hàng
    </div>
</div>
<hr />
<table class="table-bordered font-italic divGioHang">
    <tr>
        <th> Mã SP</th>

        <th> Tên SP</th>

        <th> Ảnh bìa</th>

        <th> Đơn giá</th>

        <th> Số lượng</th>

        <th> Thành tiền</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @item.iMasp</td>

            <td> @item.sTensp</td>

            <td> <img src="@Url.Content("~/HinhanhSP/" +item.sAnhBia)" width="50" height="50" /></td>

            <td>  @String.Format("{0:0,0}", item.dDonGia) VNĐ</td>
        @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @iMaSP = item.iMasp }))
        {
            <td>@Html.TextBox("txtSoLuong", item.iSoLuong) </td>
            <td>@String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>
            <td colspan="12">
                <div style="display: flex; align-items: center">
                    <div style="margin-right: 10px">
                        <input type="submit" value="Cập nhật" class="btn btn-success" />
                    </div>
                    <div>
                        <button class="btn btn-danger btn-removeCart">@Html.ActionLink("Xóa", "XoaGioHang", new { @iMaSP = item.iMasp })</button>
                    </div>
                </div>
            </td>   
          }
        </tr>
    }
</table>

@*Css giỏ hàng*@
<style type="text/css">
        .divGioHang {
            border: 2px solid #EEEEEE;
            margin-left: 10%;
        }

        .divGioHang td {
            padding: 10px;
            border: 2px solid #EEEEEE;
            text-align: center
        }

        .divGioHang th {
            text-align: center
        }
        .btn-removeCart a {
            color: #fff;

        }
</style>