@using Ictshop.Models;
@model List<GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center><h3 class="text-info"> Giỏ Hàng </h3></center>

<table class="table-bordered font-italic divGioHang">
    <tr>
        <th> Mã SP</th>

        <th> Tên SP</th>

        <th> Ảnh bìa</th>

        <th> Đơn giá</th>

        <th> Số lượng</th>

        <th> Thành tiền</th>
    </tr>



    @foreach (var item in Model)
    {
<tr>
    <td> @item.iMasp</td>

    <td> @item.sTensp</td>

    <td> <img src="@Url.Content("~/HinhanhSP/" +item.sAnhBia)" width="50" height="50" /></td>

    <td>  @String.Format("{0:0,0}", item.dDonGia) VNĐ</td>
    @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @iMaSP = item.iMasp }))
    {
        <td>@Html.TextBox("txtSoLuong", item.iSoLuong) </td>

        <td>@String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>
        <td colspan="9">
            <input type="submit" value="Cập nhật" class="btn btn-success" />
            <br />
            <button class="btn btn-danger">@Html.ActionLink("Xóa", "XoaGioHang", new { @iMaSP = item.iMasp })</button>
        </td>
    }
</tr>
    }
</table>

@*Css giỏ hàng*@
<style type="text/css">
    .divGioHang {
        border: 2px solid #EEEEEE;
        margin-left: 10%;
        font-size: large
    }

        .divGioHang td {
            padding: 10px;
            border: 2px solid #EEEEEE;
            text-align: center
        }

        .divGioHang th {
            text-align: center
        }
</style>