<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('https://i.pinimg.com/originals/c8/cb/23/c8cb23dc08a1751bbd1b1504ad7d95f8.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Điện thoại giá rẻ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel=" stylesheet" href="~/Content/Style.css" />
    <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @using Ictshop.Models
</head>

<body>


    @{ var u = Session["use"] as Ictshop.Models.Nguoidung; }

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="col-md-12">
            <img src="~/Content/images/banner.png" />
        </div>
        <div class="col-md-12">
            <div class="row nav_main">
                <div class="col-sm-3 col-md-0">
                    <img src="~/HinhanhSP/bieutuong9.png" class="img-responsive" alt="" />
                </div>
                <div class="col-sm-4 col-md-0" style="padding-bottom:5px;">
                    <form class="form-inline" action="/Home/Search" method="get">
                        <input class="form-control mr-sm-2" name="key" style="width: 200px" type="search" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">
                        <input class="btn btn-default" value="Tìm kiếm" type="submit">
                    </form>
                </div>
                <div class="col-sm-3 col-md-0 nav_main_cart-icon">
                    @Html.Action("GioHangPartial", "GioHang", new { @class = "giohang" })
                </div>
                @{ if (u != null)
                    {
                                <div class="col-sm-5 col-md-0">
                                    <div class="col-md-5">
                                        <a style="color:white" class="nav_action-button" href="/DonHangs/Index"> Đơn hàng của bạn</a>
                                    </div>
                                    <div class="col-md-4">
                                        @u.Hoten
                                        &nbsp;
                                    </div>
                                    <div class="col-md-1 dropdown">
                                        <span style="font-size: 2rem; line-height: 0;"><i class="fas fa-arrow-alt-circle-down"></i></span>
                                        <div class="dropdown-content">
                                            @if (u.IDQuyen == 2)
                                            {
                                                <a style="color:white" class="nav_action-button" href="/Admin/Home"> Trang Quản Lý</a>
                                            }
                                            <a style="color:white" class="nav_action-button" href="/User/DangXuat"> Đăng Xuất</a>
                                        </div>
                                    </div>
                                </div>
                    }
                    else
                    {
                        <div class="col-sm-2 col-md-0 nav_action">
                            <a class="nav_action-button" href="/User/Dangky"> Đăng ký</a>
                            &nbsp;
                            <a class="nav_action-button" href="/User/Dangnhap"> Đăng nhập</a>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="container nav_buttom">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav" style="font-size: 1.8rem">
                    <li>
                        <a href="/Home/Index" title="dienthoai">
                            <span><i class="fas fa-home"></i></span>
                            <span>Trang Chủ</span>
                        </a>
                    </li>
                    @Html.Action("DanhmucPartial", "Danhmuc")
                    <li>
                        <a href="/Home/Contact" title="LIENHE">
                            <span><i class="fas fa-address-card"></i></span>
                            <span>Liên lạc</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        @Html.Action("Index", "Chat", new { @class = "giohang" })
        <hr />
    </div>
    <hr />
    <footer class="footer" style="padding-left:120px;padding-right:120px">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <img src="~/HinhanhSP/logoduoi12.png" class="img-responsive" alt="" /><br />
                <span> <b>Địa chỉ: </b>454A Lê Văn Lương, Tân Phong, Quận 7, TPHCM</span>
                <br />
                <span><b>SĐT: </b><a href="tel:+84344387371">0344.387.371</a></span>
                <br />
                <b>Mail: </b> <a href="mailto:Minhho.technology@gmail.com">Minh@OnionICTShop.com</a>

            </div>
            <div class="col-md-3 col-sm-6">
                <span style="margin-top: 160px;">Chính sách bảo dưỡng</span>
                <br />
                <span>Chính sách bảo hành</span>
                <br />
                <span>Một số luu ý khi mua hàng</span>
                <br />
                <span>Cộng tác viên bán hàng </span>
                <br />
                <span>Góp ý, khiếu nại</span>
            </div>

            <div class="col-md-3 col-sm-6">
                <span>Giới thiệu công ty</span>
                <br />
                <span>Tuyển dụng</span>

                <br />
                <span>Mua trả góp</span>
                @*  *@

                <br />
                <span>Lịch sử mua hàng</span>
                <br />
                <span>Giao hàng và thanh toán</span>
            </div>
            <div class="col-md-3 col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3919.9777141978907!2d106.7004881!3d10.7362009!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f99b4aa75c7%3A0xd3885c333a478709!2zNDU0YSBMw6ogVsSDbiBMxrDGoW5nLCBUw6JuIEjGsG5nLCBRdeG6rW4gNywgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1svi!2s!4v1626922472130!5m2!1svi!2s"
                        width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <hr />
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>
    <script type="text/javascript">
        $(function () {
            window.setInterval(function () {
                $("#discussion").animate({
                    scrollTop: $('#discussion').get(0).scrollHeight
                }, 300);
            }, 2000);
            var chat = $.connection.chatHub;
            chat.client.broadcastMessage = function (name, message) {
                // Html encode display name and message.
                var encodedName = $('<div />').text(name).html();
                var encodedMsg = $('<div />').text(message).html();
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + encodedName
                    + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
            };
            let displayname = $('#displayname').val();
            if (displayname == "") {
                $('#displayname').val("Người lạ " + 1 + Math.floor(Math.random() * 6));
            }

            $('#name-click').click(function () {
                $('#displayname').val(prompt('Vui lòng nhập tên của bạn:', ''));
                if (displayname == "") {
                    $('#displayname').val("Người lạ " + 1 + Math.floor(Math.random() * 6));
                }
            });

            $('#chat-hidden').click(function () {
                $('.chat').show();
                $('.chat__hidden').hide();
            });

            $('#chat-hidden-show').click(function () {
                $('.chat').hide();
                $('.chat__hidden').show();
            });


            $('#message').focus();
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    chat.server.send($('#displayname').val(), $('#message').val());
                    $("#discussion").animate({
                        scrollTop: $('#discussion').get(0).scrollHeight
                    }, 300);
                    $('#message').val('').focus();
                });
                $('#message').keypress(function (e) {
                    if (e.which == 13) {
                        chat.server.send($('#displayname').val(), $('#message').val());
                        $("#discussion").animate({
                            scrollTop: $('#discussion').get(0).scrollHeight
                        }, 300);
                        $('#message').val('').focus();
                    }
                });
            });
        });
    </script>

</body>
</html>
