@model IEnumerable<Ictshop.Models.PhanQuyen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="admin-content-main">
    <div class="admin-content-main-header">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
        <button class="btn btn-success">@Html.ActionLink("Thêm quyền", "Create")</button>
    </div>
    <div class="admin-content-main-body">

        <table class="table">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Tên Quyền
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDQuyen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenQuyen)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.IDQuyen }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.IDQuyen }) |
                        @Html.ActionLink("Xoá", "Delete", new { id = item.IDQuyen })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

